<h1>A form to create a new thing will go here. </h1>

<form id="new-thing">
    <input type="text" value="{{name}}" id="name-input">
    <input type="text" value="{{price}}" id="price-input">
    <input type="hidden" value="{{id}}" id="id-input">
    <button>Submit Changes</button>
</form>

<script>
    $("#new-thing").on("submit", function (event) {
        event.preventDefault();
        const name = $("#name-input").val();
        const price = $("#price-input").val();
        const id = $("#id-input").val();
        console.log(id);

        $.ajax({
            url: `/api/thing`,
            method: "POST",
            data: {
                name: name,
                price: price,
            }
        }).then(function () {
            window.location.replace(`/thing/${id}`);
        })
    })
</script>